<h1>New post</h1>
<%#<%= form_for(@post, :url => forum_posts_path(@forum)) do |post_form| %>

  <%#<%= render 'form', { :post_form => post_form }%>
  <%= render 'form', { :url => admin_forum_posts_path(@forum) }%>

<%#<% end %>

<%= link_to 'Back', admin_forum_posts_path %>
